extends _components/layouts/l-public

append variables
    -
        var page = {
            name: 'single-facultet',
            pageTitle: 'Общеобразовательный факультет',
            pageParents: [
                {
                    name: 'Главная',
                    href: '/'
                },
                {
                    name: 'Структура ВУЗа',
                    href: '/'
                },
                {
                    name: 'Факультеты и кафедры',
                    href: '/'
                }
            ],
            about: {
                title: 'О факультете',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
            },

            cafedras: [
                {
                    name: 'Кафедра «Лингводидактика»',
                    href: '#'
                },
                {
                    name: 'Кафедра «Политология, история и социальные технологии»',
                    href: '#'
                },
                {
                    name: 'Кафедра «Психология, социология, государственное и муниципальное управление»',
                    href: '#'
                },
                {
                    name: 'Кафедра «Русский язык и межкультурная коммуникация»',
                    href: '#'
                },
                {
                    name: 'Кафедра «Сервис и туризм»',
                    href: '#'
                },
                {
                    name: 'Кафедра «Философия и культурология»',
                    href: '#'
                }
            ],

            bakalvr: [
                {
                    number: '5330500',
                    name: 'Компьютерный инжиниринг ("Компьютерный инжиниринг", "ИТ-сервис","Мультимедийные технологии")'
                }
            ],

            magistr: [
                {
                    number: '5330500',
                    name: 'Компьютерный инжиниринг (“Проектирование компьютерных систем”, “Проектирование прикладных программных средств”, “Информационные и мультимедийные технологии”)'
                },
                {
                    number: '5330500',
                    name: '“Управление системы электронного правительства”'
                }
            ],
            bosses: [
                
                {
                    name: 'Мансуров Азаз Турдимуратович',
                    degrees: 'Профессор',
                    job: 'Ректор',
                    img: 'rektor.png',
                    workingDays: [
                        'Суббота (с 10.00 до 12.00)'
                    ],
                    phone: '+998 71 244-53-20',
                    email: 'rektor@transportun.uz'
                },
                {
                    name: 'Гафурова Саера Турдимуратовна',
                    degrees: 'Профессор',
                    job: 'Проректор',
                    img: 'prorektor1.png',
                    workingDays: [
                        'Суббота (с 10.00 до 12.00)'
                    ],
                    phone: '+998 71 244-53-20',
                    email: 'rektor@transportun.uz'
                },
                {
                    name: 'Уринбаев Аваз Максудович',
                    degrees: 'Профессор',
                    job: 'Проректор',
                    img: 'prorektor2.png',
                    workingDays: [
                        'Суббота (с 10.00 до 12.00)',
                        'Пятница (с 10.00 до 12.00)',
                        'Суббота (с 10.00 до 12.00)'
                    ],
                    phone: '+998 71 244-53-20',
                    email: 'rektor@transportun.uz'
                }
                
            ]
        }

append styles
    each fontURL in assets.page.cafedra.styles
        link(rel='stylesheet' href= fontURL)

append scripts
    each script in assets.page.news.scripts
        script(src=script)

append content
    .banner(style="background-image: url(/images/people-banner.png);")
        .overlay 
            .container 
                h1.header= page.pageTitle

    .the-content.container
        .cafedra-margin-block
            h1.header= page.about.title 
            hr.header-block-line
            br
            p.text.w-normal= page.about.text

        .cafedra-margin-block 
            h1.header Кафедры факультета 
            hr.header-block-line
            br
            each cafedra in page.cafedras 
                a(href="#").blue-text-btn.blue-text-btn-type= cafedra.name

        .cafedra-margin-block
            h1.header Специализации бакалавра факультета 
            hr.header-block-line
            
            br 
            br
            each cafedra in page.bakalvr
                .row.facultet-row 
                    span.text.bold.blue-text= cafedra.number 
                    p.text.bold= cafedra.name

        .cafedra-margin-block
            h1.header Специализации магистратуры факультета 
            hr.header-block-line
            
            br 
            br
            each cafedra in page.magistr
                .row.facultet-row 
                    span.text.bold.blue-text= cafedra.number 
                    p.text.bold= cafedra.name
            
        .cafedra-margin-block 
            h1.header Администрация факультета
            hr.header-block-line
            each person in page.bosses    
                .person-card 
                    .row 
                        .person-img     
                            img(src="images/"+person.img)
                        .person-info 
                            h3.normal-header= person.name 
                            
                            .row.info-row 
                                .col 
                                    p.gray-text Научная степень и звание:
                                .col-2 
                                    p.gray-text 
                                        b= person.degrees
                            
                            .row.info-row 
                                .col 
                                    p.gray-text Должность:
                                .col-2 
                                    p.gray-text 
                                        b= person.job

                            .row.info-row 
                                .col 
                                    p.gray-text Время приема:
                                .col-2 
                                    each day in person.workingDays 
                                        p.gray-text 
                                            b= day

                            .row.info-row 
                                .col 
                                    p.gray-text Телефон:
                                .col-2 
                                    p.gray-text 
                                        b= person.phone

                            .row.info-row 
                                .col 
                                    p.gray-text E-mail:
                                .col-2 
                                    p.gray-text 
                                        b= person.email

                            .row.info-row 
                                .col 
                                    p.gray-text Соц. сети:
                                .col-2 
                                    a(href="#").social-link
                                        img(src="images/instagram_black.svg")
                                    a(href="#").social-link
                                        img(src="images/vk_black.svg")
                                    a(href="#").social-link
                                        img(src="images/twitter_black.svg")

